CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> dd8409c802d3

CREATE TABLE users (
    user_id INTEGER NOT NULL AUTO_INCREMENT, 
    username VARCHAR(50) NOT NULL, 
    password VARCHAR(50) NOT NULL, 
    `role` VARCHAR(20), 
    branch VARCHAR(50), 
    location VARCHAR(50), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (user_id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (username)
);

CREATE TABLE branches (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_code VARCHAR(50) NOT NULL, 
    branch_name VARCHAR(100) NOT NULL, 
    location_code VARCHAR(50), 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (branch_code)
);

CREATE TABLE class_test (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    academic_year VARCHAR(50) NOT NULL, 
    branch VARCHAR(50) NOT NULL, 
    location VARCHAR(50) NOT NULL, 
    class_id INTEGER NOT NULL, 
    test_id INTEGER NOT NULL, 
    test_order INTEGER NOT NULL, 
    status BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uniq_class_test UNIQUE (academic_year, branch, class_id, test_id), 
    CONSTRAINT uniq_test_order UNIQUE (academic_year, branch, class_id, test_order)
);

CREATE TABLE classes (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    class_name VARCHAR(50) NOT NULL, 
    location VARCHAR(50), 
    branch VARCHAR(50), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (class_name)
);

CREATE TABLE classsubjectassignment (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    class_id INTEGER NOT NULL, 
    subject_id INTEGER NOT NULL, 
    academic_year VARCHAR(50) NOT NULL, 
    location_name VARCHAR(50) NOT NULL, 
    branch_name VARCHAR(50) NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_classsubject_context UNIQUE (class_id, subject_id, academic_year, location_name, branch_name)
);

CREATE TABLE document_types (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    code VARCHAR(50) NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description VARCHAR(255), 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (code)
);

CREATE TABLE feetypes (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    feetype VARCHAR(100) NOT NULL, 
    category VARCHAR(50), 
    feetypegroup VARCHAR(50), 
    type VARCHAR(50), 
    displayname VARCHAR(100), 
    isrefundable BOOL, 
    description VARCHAR(255), 
    branch VARCHAR(50), 
    location VARCHAR(50), 
    academic_year VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE grade_scales (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    scale_name VARCHAR(100) NOT NULL, 
    scale_description VARCHAR(255), 
    location VARCHAR(50) NOT NULL, 
    branch VARCHAR(50), 
    academic_year VARCHAR(50) NOT NULL, 
    total_marks INTEGER NOT NULL, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_grade_scale_context UNIQUE (scale_name, academic_year, branch, total_marks)
);

CREATE TABLE org_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    master_type ENUM('LOCATION','ACADEMIC_YEAR') NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    display_name VARCHAR(100) NOT NULL, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT _master_type_code_uc UNIQUE (master_type, code)
);

CREATE TABLE students (
    student_id INTEGER NOT NULL AUTO_INCREMENT, 
    admission_no VARCHAR(50), 
    first_name VARCHAR(100), 
    `StudentMiddleName` VARCHAR(100), 
    last_name VARCHAR(100), 
    gender VARCHAR(10), 
    dob DATE, 
    `Doa` DATE, 
    `BloodGroup` VARCHAR(10), 
    `Adharcardno` VARCHAR(50), 
    `Religion` VARCHAR(50), 
    phone VARCHAR(20), 
    email VARCHAR(100), 
    address TEXT, 
    `Category` VARCHAR(50), 
    class VARCHAR(20), 
    section VARCHAR(20), 
    `Roll_Number` INTEGER, 
    admission_date DATE, 
    status ENUM('Active','Inactive'), 
    `MotherTongue` VARCHAR(50), 
    `Caste` VARCHAR(50), 
    `StudentType` VARCHAR(50), 
    `House` VARCHAR(50), 
    photopath VARCHAR(255), 
    `Fatherfirstname` VARCHAR(100), 
    `FatherMiddleName` VARCHAR(100), 
    `FatherLastName` VARCHAR(100), 
    `FatherPhone` VARCHAR(20), 
    `SmsNo` VARCHAR(20), 
    `FatherEmail` VARCHAR(100), 
    `PrimaryQualification` VARCHAR(100), 
    `FatherOccuption` VARCHAR(100), 
    `FatherCompany` VARCHAR(100), 
    `FatherDesignation` VARCHAR(100), 
    `FatherAadhar` VARCHAR(50), 
    `FatherOrganizationId` VARCHAR(100), 
    `FatherOtherOrganization` VARCHAR(100), 
    `Motherfirstname` VARCHAR(100), 
    `MothermiddleName` VARCHAR(100), 
    `Motherlastname` VARCHAR(100), 
    `SecondaryPhone` VARCHAR(20), 
    `SecondaryEmail` VARCHAR(100), 
    `SecondaryQualification` VARCHAR(100), 
    `SecondaryOccupation` VARCHAR(100), 
    `SecondaryCompany` VARCHAR(100), 
    `SecondaryDesignation` VARCHAR(100), 
    `MotherAadhar` VARCHAR(50), 
    `MotherOrganizationId` VARCHAR(100), 
    `MotherOtherOrganization` VARCHAR(100), 
    `GuardianName` VARCHAR(100), 
    `GuardianRelation` VARCHAR(50), 
    `GuardianQualification` VARCHAR(100), 
    `GuardianOccupation` VARCHAR(100), 
    `GuardianDesignation` VARCHAR(100), 
    `GuardianDepartment` VARCHAR(100), 
    `GuardianOfficeAddress` TEXT, 
    `GuardianContactNo` VARCHAR(20), 
    `SchoolName` VARCHAR(100), 
    `AdmissionNumber` VARCHAR(100), 
    `TCNumber` VARCHAR(20), 
    `PreviousSchoolClass` VARCHAR(15), 
    `AdmissionCategory` VARCHAR(50), 
    `AdmissionClass` VARCHAR(20), 
    `StudentHeight` NUMERIC(5, 2), 
    `StudentWeight` NUMERIC(5, 2), 
    `SamagraId` VARCHAR(50), 
    `ChildId` VARCHAR(50), 
    `PEN` VARCHAR(50), 
    `permanentCity` VARCHAR(100), 
    `previousSchoolName` VARCHAR(200), 
    `primaryIncomePerYear` NUMERIC(12, 2), 
    `secondaryIncomePerYear` NUMERIC(12, 2), 
    `primaryOfficeAddress` TEXT, 
    `secondaryOfficeAddress` TEXT, 
    `Hobbies` TEXT, 
    `SecondLanguage` VARCHAR(50), 
    `ThirdLanguage` VARCHAR(50), 
    `GroupUniqueId` VARCHAR(50), 
    `serviceNumber` VARCHAR(50), 
    `EmploymentservingStatus` VARCHAR(50), 
    inactivated_date DATETIME, 
    inactivate_reason VARCHAR(255), 
    inactivated_by INTEGER, 
    `ApaarId` VARCHAR(50), 
    `Stream` VARCHAR(50), 
    `EmploymentCategory` VARCHAR(50), 
    location VARCHAR(50), 
    branch VARCHAR(50), 
    academic_year VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (student_id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (admission_no)
);

CREATE INDEX idx_student_occupancy ON students (class, section, branch, academic_year);

CREATE TABLE subjectmaster (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    subject_name VARCHAR(100) NOT NULL, 
    subject_type ENUM('Deeniyath','Academic'), 
    academic_year VARCHAR(20), 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE testtype (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    test_name VARCHAR(100) NOT NULL, 
    max_marks INTEGER NOT NULL, 
    display_order INTEGER NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE attendance (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    date DATE NOT NULL, 
    status ENUM('Present','Absent'), 
    remarks VARCHAR(255), 
    update_count INTEGER, 
    branch VARCHAR(50), 
    location VARCHAR(50), 
    academic_year VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT _student_date_uc UNIQUE (student_id, date)
);

CREATE TABLE class_sections (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    class_id INTEGER NOT NULL, 
    branch_id INTEGER NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    section_name VARCHAR(10) NOT NULL, 
    student_strength INTEGER NOT NULL, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE RESTRICT, 
    FOREIGN KEY(class_id) REFERENCES classes (id) ON DELETE RESTRICT, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_class_branch_year_section UNIQUE (class_id, branch_id, academic_year, section_name)
);

CREATE INDEX idx_class_section_branch_year ON class_sections (branch_id, academic_year);

CREATE INDEX idx_class_section_class ON class_sections (class_id);

CREATE TABLE class_test_subjects (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    class_test_id INTEGER NOT NULL, 
    subject_id INTEGER NOT NULL, 
    max_marks INTEGER NOT NULL, 
    subject_order INTEGER NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(class_test_id) REFERENCES class_test (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(subject_id) REFERENCES subjectmaster (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uniq_class_test_subject UNIQUE (class_test_id, subject_id), 
    CONSTRAINT uniq_subject_order_per_test UNIQUE (class_test_id, subject_order)
);

CREATE TABLE classfeestructure (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    class VARCHAR(50), 
    feetypeid INTEGER, 
    academicyear VARCHAR(20), 
    totalamount NUMERIC(10, 2), 
    monthly_amount NUMERIC(10, 2), 
    installments_count INTEGER, 
    isnewadmission BOOL, 
    feegroup VARCHAR(50), 
    branch VARCHAR(50), 
    location VARCHAR(50), 
    academic_year VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(feetypeid) REFERENCES feetypes (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE concessions (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    title VARCHAR(100), 
    description VARCHAR(255), 
    location VARCHAR(50), 
    branch VARCHAR(50), 
    academic_year VARCHAR(20), 
    fee_type_id INTEGER, 
    percentage NUMERIC(5, 2), 
    is_percentage BOOL, 
    show_in_payment BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(fee_type_id) REFERENCES feetypes (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE enrollment_sequences (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER NOT NULL, 
    academic_year_id INTEGER NOT NULL, 
    admission_prefix VARCHAR(20) NOT NULL, 
    last_admission_no INTEGER NOT NULL, 
    receipt_prefix VARCHAR(20) NOT NULL, 
    last_receipt_no INTEGER NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    CONSTRAINT chk_admission_no_positive CHECK (last_admission_no >= 0), 
    CONSTRAINT chk_receipt_no_positive CHECK (last_receipt_no >= 0), 
    FOREIGN KEY(academic_year_id) REFERENCES org_master (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_branch_year_sequence UNIQUE (branch_id, academic_year_id)
);

CREATE TABLE fee_installments (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    installment_no INTEGER NOT NULL, 
    title VARCHAR(100) NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE NOT NULL, 
    last_pay_date DATE NOT NULL, 
    is_admission BOOL, 
    description TEXT, 
    fee_type_id INTEGER, 
    location VARCHAR(50), 
    branch VARCHAR(50), 
    academic_year VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(fee_type_id) REFERENCES feetypes (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE fee_payments (
    payment_id INTEGER NOT NULL AUTO_INCREMENT, 
    receipt_no VARCHAR(50) NOT NULL, 
    branch VARCHAR(50) NOT NULL, 
    location VARCHAR(50) NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    student_id INTEGER NOT NULL, 
    class VARCHAR(50) NOT NULL, 
    section VARCHAR(20), 
    installment_id INTEGER, 
    installment_name VARCHAR(100), 
    fee_type VARCHAR(100), 
    gross_amount NUMERIC(10, 2), 
    concession_amount NUMERIC(10, 2), 
    net_payable NUMERIC(10, 2), 
    amount_paid NUMERIC(10, 2), 
    due_amount NUMERIC(10, 2), 
    payment_mode VARCHAR(50), 
    transaction_ref VARCHAR(100), 
    payment_date DATE, 
    payment_month INTEGER, 
    payment_year INTEGER, 
    note VARCHAR(25), 
    `TransactionDetails` VARCHAR(100), 
    collected_by INTEGER, 
    collected_by_name VARCHAR(100), 
    status ENUM('A','I'), 
    cancel_reason VARCHAR(255), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (payment_id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE INDEX ix_fee_payments_receipt_no ON fee_payments (receipt_no);

CREATE TABLE grade_scale_details (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    grade_scale_id INTEGER NOT NULL, 
    grade VARCHAR(5) NOT NULL, 
    min_marks INTEGER NOT NULL, 
    max_marks INTEGER NOT NULL, 
    description VARCHAR(255), 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(grade_scale_id) REFERENCES grade_scales (id) ON DELETE CASCADE, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_grade_range UNIQUE (grade_scale_id, min_marks, max_marks)
);

CREATE TABLE holiday_calendar (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER NOT NULL, 
    class_id INTEGER, 
    title VARCHAR(150) NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE NOT NULL, 
    holiday_for ENUM('StudentOnly','StaffOnly','All') NOT NULL, 
    description TEXT, 
    display_order INTEGER, 
    academic_year VARCHAR(20) NOT NULL, 
    active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    CONSTRAINT chk_holiday_date_range CHECK (start_date <= end_date), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE RESTRICT, 
    FOREIGN KEY(class_id) REFERENCES classes (id) ON DELETE RESTRICT, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE INDEX idx_holiday_dates ON holiday_calendar (branch_id, start_date, end_date);

CREATE TABLE student_academic_records (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    class VARCHAR(20), 
    section VARCHAR(20), 
    roll_number INTEGER, 
    is_promoted BOOL, 
    promoted_date DATETIME, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE student_documents (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    document_type_id INTEGER NOT NULL, 
    document_no VARCHAR(100), 
    issued_by VARCHAR(100), 
    issue_date DATE, 
    notes TEXT, 
    file_name VARCHAR(255), 
    file_path VARCHAR(500), 
    file_size INTEGER, 
    mime_type VARCHAR(100), 
    is_verified BOOL, 
    verified_by INTEGER, 
    verified_at DATETIME, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(document_type_id) REFERENCES document_types (id) ON DELETE RESTRICT, 
    FOREIGN KEY(student_id) REFERENCES students (student_id) ON DELETE CASCADE, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_student_doc_type UNIQUE (student_id, document_type_id)
);

CREATE TABLE student_marks (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    class_test_id INTEGER NOT NULL, 
    subject_id INTEGER NOT NULL, 
    marks_obtained NUMERIC(5, 2), 
    is_absent BOOL NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    branch VARCHAR(100) NOT NULL, 
    class_id INTEGER NOT NULL, 
    section VARCHAR(20), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(class_test_id) REFERENCES class_test (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(subject_id) REFERENCES subjectmaster (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_student_test_subject UNIQUE (student_id, class_test_id, subject_id)
);

CREATE INDEX idx_student_marks_student ON student_marks (student_id);

CREATE INDEX idx_student_marks_test ON student_marks (class_test_id);

CREATE TABLE student_test_assignments (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    class_test_id INTEGER NOT NULL, 
    academic_year VARCHAR(50) NOT NULL, 
    branch VARCHAR(50), 
    location VARCHAR(50), 
    status BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(class_test_id) REFERENCES class_test (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uniq_student_test_assign UNIQUE (student_id, class_test_id)
);

CREATE TABLE studentfees (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER, 
    fee_id INTEGER, 
    fee_type_id INTEGER, 
    academic_year VARCHAR(20), 
    month VARCHAR(20), 
    monthly_amount NUMERIC(10, 2), 
    total_fee NUMERIC(10, 2), 
    paid_amount NUMERIC(10, 2), 
    due_amount NUMERIC(10, 2), 
    concession NUMERIC(10, 2), 
    status ENUM('Pending','Partial','Paid'), 
    due_date DATE, 
    is_active BOOL NOT NULL, 
    deleted_at DATETIME, 
    deleted_by INTEGER, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(fee_type_id) REFERENCES feetypes (id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE studentsubjectassignment (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    student_id INTEGER NOT NULL, 
    subject_id INTEGER NOT NULL, 
    academic_year VARCHAR(50) NOT NULL, 
    branch VARCHAR(50), 
    status BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(subject_id) REFERENCES subjectmaster (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_student_subject_assign UNIQUE (student_id, subject_id, academic_year)
);

CREATE TABLE test_attendance_months (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    test_id INTEGER NOT NULL, 
    branch VARCHAR(50) NOT NULL, 
    class_id INTEGER NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    month INTEGER NOT NULL, 
    year INTEGER NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(test_id) REFERENCES testtype (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_test_context_month UNIQUE (test_id, branch, class_id, academic_year, month, year)
);

CREATE TABLE user_branch_access (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    user_id INTEGER NOT NULL, 
    branch_id INTEGER NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (user_id), 
    CONSTRAINT _user_branch_start_uc UNIQUE (user_id, branch_id, start_date)
);

CREATE TABLE weekly_off_rule (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER NOT NULL, 
    class_id INTEGER, 
    weekday INTEGER NOT NULL, 
    week_number INTEGER, 
    academic_year VARCHAR(20) NOT NULL, 
    active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    CONSTRAINT chk_weekoff_week_number CHECK (week_number IS NULL OR (week_number >= 1 AND week_number <= 5)), 
    CONSTRAINT chk_weekoff_weekday CHECK (weekday >= 0 AND weekday <= 6), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE RESTRICT, 
    FOREIGN KEY(class_id) REFERENCES classes (id) ON DELETE RESTRICT, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_weekoff_rule UNIQUE (branch_id, class_id, weekday, week_number, academic_year)
);

INSERT INTO alembic_version (version_num) VALUES ('dd8409c802d3');

-- Running upgrade dd8409c802d3 -> eaeb2cc7c9ed

CREATE TABLE audit_logs (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    table_name VARCHAR(100) NOT NULL, 
    record_id VARCHAR(100), 
    action VARCHAR(10) NOT NULL, 
    old_data JSON, 
    new_data JSON, 
    user_id INTEGER, 
    ip_address VARCHAR(50), 
    timestamp DATETIME NOT NULL DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (user_id)
);

CREATE INDEX idx_audit_table_record ON audit_logs (table_name, record_id);

CREATE INDEX idx_audit_user ON audit_logs (user_id);

CREATE INDEX idx_audit_timestamp ON audit_logs (timestamp);

UPDATE alembic_version SET version_num='eaeb2cc7c9ed' WHERE alembic_version.version_num = 'dd8409c802d3';

-- Running upgrade eaeb2cc7c9ed -> b62d6696f78a

ALTER TABLE audit_logs ADD COLUMN module VARCHAR(50);

ALTER TABLE audit_logs MODIFY action VARCHAR(20) NOT NULL;

CREATE INDEX idx_audit_module ON audit_logs (module);

ALTER TABLE subjectmaster ADD COLUMN subject_name_urdu VARCHAR(255);

UPDATE alembic_version SET version_num='b62d6696f78a' WHERE alembic_version.version_num = 'eaeb2cc7c9ed';

-- Running upgrade b62d6696f78a -> 800c9d6eaf63

DROP INDEX idx_audit_module ON audit_logs;

ALTER TABLE users ADD COLUMN useremail VARCHAR(100);

ALTER TABLE users MODIFY password VARCHAR(255) NOT NULL;

UPDATE alembic_version SET version_num='800c9d6eaf63' WHERE alembic_version.version_num = 'b62d6696f78a';

-- Running upgrade 800c9d6eaf63 -> 41858bc61208

CREATE TABLE password_reset_otps (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    user_id INTEGER NOT NULL, 
    otp_hash VARCHAR(64) NOT NULL, 
    expires_at DATETIME NOT NULL, 
    used BOOL NOT NULL DEFAULT false, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (user_id)
);

UPDATE alembic_version SET version_num='41858bc61208' WHERE alembic_version.version_num = '800c9d6eaf63';

-- Running upgrade 41858bc61208 -> cc2a2a5a3644

ALTER TABLE users ADD CONSTRAINT uq_users_useremail UNIQUE (useremail);

UPDATE alembic_version SET version_num='cc2a2a5a3644' WHERE alembic_version.version_num = '41858bc61208';

-- Running upgrade cc2a2a5a3644 -> b0a4f124c7e1

ALTER TABLE password_reset_otps ADD COLUMN attempts INTEGER DEFAULT '0';

UPDATE password_reset_otps SET attempts = 0 WHERE attempts IS NULL;

ALTER TABLE password_reset_otps MODIFY attempts INTEGER NOT NULL DEFAULT '0';

UPDATE alembic_version SET version_num='b0a4f124c7e1' WHERE alembic_version.version_num = 'cc2a2a5a3644';

-- Running upgrade b0a4f124c7e1 -> bab7d856c7d9

ALTER TABLE concessions MODIFY percentage NUMERIC(10, 2) NULL;

UPDATE alembic_version SET version_num='bab7d856c7d9' WHERE alembic_version.version_num = 'b0a4f124c7e1';

-- Running upgrade bab7d856c7d9 -> 2d216c34a8d6

ALTER TABLE password_reset_otps MODIFY attempts INTEGER NULL DEFAULT '0';

ALTER TABLE student_academic_records ADD COLUMN is_locked BOOL;

ALTER TABLE student_academic_records ADD COLUMN locked_at DATETIME;

CREATE INDEX idx_student_year ON student_academic_records (student_id, academic_year);

ALTER TABLE student_academic_records ADD CONSTRAINT uq_student_academic_year UNIQUE (student_id, academic_year);

UPDATE alembic_version SET version_num='2d216c34a8d6' WHERE alembic_version.version_num = 'bab7d856c7d9';

-- Running upgrade 2d216c34a8d6 -> 64c7627cad58

CREATE TABLE schools (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    school_name VARCHAR(150) NOT NULL, 
    school_code VARCHAR(50), 
    logo_url VARCHAR(500), 
    address TEXT, 
    phone VARCHAR(30), 
    email VARCHAR(100), 
    theme_color VARCHAR(20), 
    domain_name VARCHAR(150), 
    subscription_plan VARCHAR(50), 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (school_code)
);

ALTER TABLE branches ADD COLUMN school_id INTEGER;

ALTER TABLE branches ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE users ADD COLUMN school_id INTEGER;

ALTER TABLE users ADD COLUMN branch_id INTEGER;

ALTER TABLE users ADD COLUMN is_active BOOL;

ALTER TABLE users ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE users ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='64c7627cad58' WHERE alembic_version.version_num = '2d216c34a8d6';

-- Running upgrade 64c7627cad58 -> e095f12ddfde

ALTER TABLE class_test ADD COLUMN branch_id INTEGER;

ALTER TABLE class_test ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE classfeestructure ADD COLUMN branch_id INTEGER;

ALTER TABLE classfeestructure ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE classsubjectassignment ADD COLUMN branch VARCHAR(50);

ALTER TABLE classsubjectassignment ADD COLUMN branch_id INTEGER;

ALTER TABLE classsubjectassignment DROP INDEX uq_classsubject_context;

ALTER TABLE classsubjectassignment ADD CONSTRAINT uq_classsubject_context UNIQUE (class_id, subject_id, academic_year, location_name, branch_id);

ALTER TABLE classsubjectassignment ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE classsubjectassignment DROP COLUMN branch_name;

ALTER TABLE concessions ADD COLUMN branch_id INTEGER;

ALTER TABLE concessions ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE fee_installments ADD COLUMN branch_id INTEGER;

ALTER TABLE fee_installments ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE fee_payments ADD COLUMN branch_id INTEGER;

ALTER TABLE fee_payments ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE feetypes ADD COLUMN branch_id INTEGER;

ALTER TABLE feetypes ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE grade_scales ADD COLUMN branch_id INTEGER;

ALTER TABLE grade_scales ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE student_test_assignments ADD COLUMN branch_id INTEGER;

ALTER TABLE student_test_assignments ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE studentsubjectassignment ADD COLUMN branch_id INTEGER;

ALTER TABLE studentsubjectassignment ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE test_attendance_months ADD COLUMN branch_id INTEGER;

ALTER TABLE test_attendance_months ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='e095f12ddfde' WHERE alembic_version.version_num = '64c7627cad58';

-- Running upgrade e095f12ddfde -> 3f7b2a9c1d4e

CREATE TABLE roles (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(80) NOT NULL, 
    description VARCHAR(255), 
    is_active BOOL NOT NULL DEFAULT true, 
    is_system BOOL NOT NULL DEFAULT false, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_roles_name UNIQUE (name)
);

CREATE TABLE permissions (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    dashboard VARCHAR(100) NOT NULL, 
    module VARCHAR(100) NOT NULL, 
    component VARCHAR(120) NOT NULL, 
    code VARCHAR(160) NOT NULL, 
    description VARCHAR(255), 
    is_active BOOL NOT NULL DEFAULT true, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_permissions_code UNIQUE (code), 
    CONSTRAINT uq_permission_path UNIQUE (dashboard, module, component)
);

CREATE TABLE role_permissions (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    role_id INTEGER NOT NULL, 
    permission_id INTEGER NOT NULL, 
    can_read BOOL NOT NULL DEFAULT false, 
    can_write BOOL NOT NULL DEFAULT false, 
    can_append BOOL NOT NULL DEFAULT false, 
    can_delete BOOL NOT NULL DEFAULT false, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    FOREIGN KEY(permission_id) REFERENCES permissions (id) ON DELETE CASCADE, 
    FOREIGN KEY(role_id) REFERENCES roles (id) ON DELETE CASCADE, 
    CONSTRAINT uq_role_permission UNIQUE (role_id, permission_id)
);

CREATE INDEX idx_role_permissions_role ON role_permissions (role_id);

CREATE INDEX idx_role_permissions_permission ON role_permissions (permission_id);

ALTER TABLE users ADD COLUMN role_id INTEGER;

ALTER TABLE users ADD CONSTRAINT fk_users_role_id_roles FOREIGN KEY(role_id) REFERENCES roles (id) ON DELETE SET NULL;

INSERT INTO roles (name, description, is_active, is_system, created_at, updated_at) VALUES ('SuperAdmin', 'Full system access', true, true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');

INSERT INTO roles (name, description, is_active, is_system, created_at, updated_at) VALUES ('Admin', 'School administration access', true, true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');

INSERT INTO roles (name, description, is_active, is_system, created_at, updated_at) VALUES ('User', 'Default read-only user access', true, true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');

INSERT INTO permissions (dashboard, module, component, code, description, is_active, created_at, updated_at) VALUES ('Home', 'Dashboard', 'Dashboard', 'home.dashboard.dashboard', 'View dashboard summary', true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');

INSERT INTO permissions (dashboard, module, component, code, description, is_active, created_at, updated_at) VALUES ('Home', 'Dashboard', 'Profile', 'home.dashboard.profile', 'View and update own profile', true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');

INSERT INTO permissions (dashboard, module, component, code, description, is_active, created_at, updated_at) VALUES ('Home', 'Dashboard', 'Report Card', 'home.dashboard.report-card', 'View report card dashboard', true, '2026-09-28 09:02:17.537478', '2026-09-28 09:02:17.537478');
























































































INSERT INTO role_permissions (role_id, permission_id, can_read, can_write, can_append, can_delete, created_at, updated_at) SELECT roles.id, permissions.id, 1, 1, 1, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP FROM roles CROSS JOIN permissions WHERE roles.name IN ('SuperAdmin', 'Admin');

INSERT INTO role_permissions (role_id, permission_id, can_read, can_write, can_append, can_delete, created_at, updated_at) SELECT roles.id, permissions.id, 1, 0, 0, 0, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP FROM roles CROSS JOIN permissions WHERE roles.name = 'User';

UPDATE users SET role_id = (SELECT id FROM roles WHERE name = 'SuperAdmin') WHERE role = 'SuperAdmin';

UPDATE users SET role_id = (SELECT id FROM roles WHERE name = 'Admin') WHERE role = 'Admin';

UPDATE users SET role_id = (SELECT id FROM roles WHERE name = 'User') WHERE role = 'User';

UPDATE alembic_version SET version_num='3f7b2a9c1d4e' WHERE alembic_version.version_num = 'e095f12ddfde';

-- Running upgrade 3f7b2a9c1d4e -> 5b0ab702db53

ALTER TABLE subjectmaster ADD COLUMN school_id INTEGER;

ALTER TABLE subjectmaster ADD COLUMN branch_id INTEGER;

ALTER TABLE subjectmaster ADD CONSTRAINT fk_subjectmaster_branch_id FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE subjectmaster ADD CONSTRAINT fk_subjectmaster_school_id FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='5b0ab702db53' WHERE alembic_version.version_num = '3f7b2a9c1d4e';

-- Running upgrade 5b0ab702db53 -> 832efc0a17e4

CREATE TABLE user_school_access (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    user_id INTEGER NOT NULL, 
    school_id INTEGER NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    is_active BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(school_id) REFERENCES schools (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (user_id), 
    CONSTRAINT _user_school_start_uc UNIQUE (user_id, school_id, start_date)
);

ALTER TABLE attendance ADD COLUMN branch_id INTEGER;

ALTER TABLE attendance ADD COLUMN school_id INTEGER;

ALTER TABLE attendance ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE attendance ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE audit_logs ADD COLUMN school_id INTEGER;

ALTER TABLE audit_logs ADD COLUMN branch_id INTEGER;

ALTER TABLE audit_logs ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE audit_logs ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE class_sections ADD COLUMN school_id INTEGER;

ALTER TABLE class_sections ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE class_test ADD COLUMN school_id INTEGER;

ALTER TABLE class_test ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE class_test_subjects ADD COLUMN school_id INTEGER;

ALTER TABLE class_test_subjects ADD COLUMN branch_id INTEGER;

ALTER TABLE class_test_subjects ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE class_test_subjects ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE classes ADD COLUMN school_id INTEGER;

ALTER TABLE classes ADD COLUMN branch_id INTEGER;

ALTER TABLE classes ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE classes ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE classfeestructure ADD COLUMN school_id INTEGER;

ALTER TABLE classfeestructure ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE classsubjectassignment ADD COLUMN school_id INTEGER;

ALTER TABLE classsubjectassignment ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE concessions ADD COLUMN school_id INTEGER;

ALTER TABLE concessions ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE document_types ADD COLUMN school_id INTEGER;

ALTER TABLE document_types ADD COLUMN branch_id INTEGER;

ALTER TABLE document_types ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE document_types ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE enrollment_sequences ADD COLUMN school_id INTEGER;

ALTER TABLE enrollment_sequences ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE fee_installments ADD COLUMN school_id INTEGER;

ALTER TABLE fee_installments ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE fee_payments ADD COLUMN school_id INTEGER;

ALTER TABLE fee_payments ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE feetypes ADD COLUMN school_id INTEGER;

ALTER TABLE feetypes ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE grade_scale_details ADD COLUMN school_id INTEGER;

ALTER TABLE grade_scale_details ADD COLUMN branch_id INTEGER;

ALTER TABLE grade_scale_details ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE grade_scale_details ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE grade_scales ADD COLUMN school_id INTEGER;

ALTER TABLE grade_scales ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE holiday_calendar ADD COLUMN school_id INTEGER;

ALTER TABLE holiday_calendar ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE org_master ADD COLUMN school_id INTEGER;

ALTER TABLE org_master ADD COLUMN branch_id INTEGER;

ALTER TABLE org_master ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE org_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE password_reset_otps ADD COLUMN school_id INTEGER;

ALTER TABLE password_reset_otps ADD COLUMN branch_id INTEGER;

ALTER TABLE password_reset_otps ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE password_reset_otps ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE permissions ADD COLUMN school_id INTEGER;

ALTER TABLE permissions ADD COLUMN branch_id INTEGER;

ALTER TABLE permissions ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE permissions ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE role_permissions ADD COLUMN school_id INTEGER;

ALTER TABLE role_permissions ADD COLUMN branch_id INTEGER;

ALTER TABLE role_permissions ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE role_permissions ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE roles ADD COLUMN school_id INTEGER;

ALTER TABLE roles ADD COLUMN branch_id INTEGER;

ALTER TABLE roles ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE roles ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE student_academic_records ADD COLUMN school_id INTEGER;

ALTER TABLE student_academic_records ADD COLUMN branch_id INTEGER;

ALTER TABLE student_academic_records ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE student_academic_records ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE student_documents ADD COLUMN school_id INTEGER;

ALTER TABLE student_documents ADD COLUMN branch_id INTEGER;

ALTER TABLE student_documents ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE student_documents ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE student_marks ADD COLUMN school_id INTEGER;

ALTER TABLE student_marks ADD COLUMN branch_id INTEGER;

ALTER TABLE student_marks ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE student_marks ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE student_test_assignments ADD COLUMN school_id INTEGER;

ALTER TABLE student_test_assignments ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE studentfees ADD COLUMN school_id INTEGER;

ALTER TABLE studentfees ADD COLUMN branch_id INTEGER;

ALTER TABLE studentfees ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE studentfees ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE students ADD COLUMN school_id INTEGER;

ALTER TABLE students ADD COLUMN branch_id INTEGER;

ALTER TABLE students ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE students ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE studentsubjectassignment ADD COLUMN school_id INTEGER;

ALTER TABLE studentsubjectassignment ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE test_attendance_months ADD COLUMN school_id INTEGER;

ALTER TABLE test_attendance_months ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE testtype ADD COLUMN school_id INTEGER;

ALTER TABLE testtype ADD COLUMN branch_id INTEGER;

ALTER TABLE testtype ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE testtype ADD FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE user_branch_access ADD COLUMN school_id INTEGER;

ALTER TABLE user_branch_access ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE users ADD COLUMN default_school_id INTEGER;

ALTER TABLE users ADD COLUMN default_branch_id INTEGER;

ALTER TABLE users ADD FOREIGN KEY(default_branch_id) REFERENCES branches (id) ON DELETE SET NULL;

ALTER TABLE users ADD FOREIGN KEY(default_school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE weekly_off_rule ADD COLUMN school_id INTEGER;

ALTER TABLE weekly_off_rule ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

INSERT INTO schools (school_name, school_code, is_active, created_at, updated_at) SELECT 'Default School', 'default', 1, NOW(), NOW() FROM (SELECT 1) AS tmp WHERE NOT EXISTS (SELECT 1 FROM schools WHERE school_code = 'default');

UPDATE branches SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE students s JOIN branches b ON LOWER(s.branch) = LOWER(b.branch_name) SET s.branch_id = b.id, s.school_id = b.school_id WHERE s.branch_id IS NULL;

UPDATE students s JOIN branches b ON s.branch_id = b.id SET s.school_id = b.school_id WHERE s.school_id IS NULL;

UPDATE audit_logs SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE users u JOIN branches b ON LOWER(u.branch) = LOWER(b.branch_name) SET u.default_branch_id = b.id, u.default_school_id = b.school_id WHERE u.default_branch_id IS NULL;

UPDATE users SET default_school_id = (SELECT id FROM schools LIMIT 1) WHERE default_school_id IS NULL;

UPDATE users SET default_branch_id = (SELECT id FROM branches LIMIT 1) WHERE default_branch_id IS NULL AND default_school_id IS NOT NULL;

INSERT INTO user_school_access (user_id, school_id, start_date, is_active, created_at, updated_at) SELECT user_id, default_school_id, '2026-01-01', 1, NOW(), NOW() FROM users u WHERE u.default_school_id IS NOT NULL AND NOT EXISTS (SELECT 1 FROM user_school_access usa WHERE usa.user_id = u.user_id AND usa.school_id = u.default_school_id);

INSERT INTO user_branch_access (user_id, branch_id, school_id, start_date, is_active, created_at, updated_at) SELECT user_id, default_branch_id, default_school_id, '2026-01-01', 1, NOW(), NOW() FROM users u WHERE u.default_branch_id IS NOT NULL AND NOT EXISTS (SELECT 1 FROM user_branch_access uba WHERE uba.user_id = u.user_id AND uba.branch_id = u.default_branch_id);

UPDATE classes c JOIN branches b ON LOWER(c.branch) = LOWER(b.branch_name) SET c.branch_id = b.id, c.school_id = b.school_id WHERE c.branch_id IS NULL;

UPDATE classes SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE class_sections cs JOIN branches b ON cs.branch_id = b.id SET cs.school_id = b.school_id WHERE cs.school_id IS NULL;

UPDATE class_sections SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE roles SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE permissions SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE role_permissions SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE feetypes SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE studentfees sf JOIN students s ON sf.student_id = s.student_id SET sf.branch_id = s.branch_id, sf.school_id = s.school_id WHERE sf.branch_id IS NULL OR sf.school_id IS NULL;

UPDATE classfeestructure cfs JOIN branches b ON LOWER(cfs.branch) = LOWER(b.branch_name) SET cfs.branch_id = b.id, cfs.school_id = b.school_id WHERE cfs.branch_id IS NULL OR cfs.school_id IS NULL;

UPDATE concessions c JOIN branches b ON LOWER(c.branch) = LOWER(b.branch_name) SET c.branch_id = b.id, c.school_id = b.school_id WHERE c.branch_id IS NULL OR c.school_id IS NULL;

UPDATE fee_installments fi JOIN branches b ON LOWER(fi.branch) = LOWER(b.branch_name) SET fi.branch_id = b.id, fi.school_id = b.school_id WHERE fi.branch_id IS NULL OR fi.school_id IS NULL;

UPDATE fee_payments fp JOIN students s ON fp.student_id = s.student_id SET fp.branch_id = s.branch_id, fp.school_id = s.school_id WHERE fp.branch_id IS NULL OR fp.school_id IS NULL;

UPDATE org_master SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE enrollment_sequences es JOIN branches b ON es.branch_id = b.id SET es.school_id = b.school_id WHERE es.school_id IS NULL;

UPDATE student_academic_records sar JOIN students s ON sar.student_id = s.student_id SET sar.branch_id = s.branch_id, sar.school_id = s.school_id WHERE sar.branch_id IS NULL OR sar.school_id IS NULL;

UPDATE attendance a JOIN students s ON a.student_id = s.student_id SET a.branch_id = s.branch_id, a.school_id = s.school_id WHERE a.branch_id IS NULL OR a.school_id IS NULL;

UPDATE weekly_off_rule wor JOIN branches b ON wor.branch_id = b.id SET wor.school_id = b.school_id WHERE wor.school_id IS NULL;

UPDATE holiday_calendar hc JOIN branches b ON hc.branch_id = b.id SET hc.school_id = b.school_id WHERE hc.school_id IS NULL;

UPDATE subjectmaster SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE classsubjectassignment csa JOIN branches b ON csa.branch_id = b.id SET csa.school_id = b.school_id WHERE csa.school_id IS NULL;

UPDATE studentsubjectassignment ssa JOIN students s ON ssa.student_id = s.student_id SET ssa.branch_id = s.branch_id, ssa.school_id = s.school_id WHERE ssa.branch_id IS NULL OR ssa.school_id IS NULL;

UPDATE testtype tt JOIN branches b ON tt.branch_id = b.id SET tt.school_id = b.school_id WHERE tt.school_id IS NULL;

UPDATE test_attendance_months tam JOIN branches b ON tam.branch_id = b.id SET tam.school_id = b.school_id WHERE tam.school_id IS NULL;

UPDATE class_test ct JOIN branches b ON ct.branch_id = b.id SET ct.school_id = b.school_id WHERE ct.school_id IS NULL;

UPDATE class_test_subjects cts JOIN class_test ct ON cts.class_test_id = ct.id SET cts.branch_id = ct.branch_id, cts.school_id = ct.school_id WHERE cts.branch_id IS NULL OR cts.school_id IS NULL;

UPDATE student_test_assignments sta JOIN students s ON sta.student_id = s.student_id SET sta.branch_id = s.branch_id, sta.school_id = s.school_id WHERE sta.branch_id IS NULL OR sta.school_id IS NULL;

UPDATE grade_scales gs JOIN branches b ON gs.branch_id = b.id SET gs.school_id = b.school_id WHERE gs.school_id IS NULL;

UPDATE grade_scale_details gsd JOIN grade_scales gs ON gsd.grade_scale_id = gs.id SET gsd.branch_id = gs.branch_id, gsd.school_id = gs.school_id WHERE gsd.branch_id IS NULL OR gsd.school_id IS NULL;

UPDATE student_marks sm JOIN students s ON sm.student_id = s.student_id SET sm.branch_id = s.branch_id, sm.school_id = s.school_id WHERE sm.branch_id IS NULL OR sm.school_id IS NULL;

UPDATE document_types SET school_id = (SELECT id FROM schools LIMIT 1) WHERE school_id IS NULL;

UPDATE student_documents sd JOIN students s ON sd.student_id = s.student_id SET sd.branch_id = s.branch_id, sd.school_id = s.school_id WHERE sd.branch_id IS NULL OR sd.school_id IS NULL;

UPDATE alembic_version SET version_num='832efc0a17e4' WHERE alembic_version.version_num = '5b0ab702db53';

-- Running upgrade 832efc0a17e4 -> af6528073d91

ALTER TABLE concessions ADD CONSTRAINT uq_concession_title_branch_year_feetype UNIQUE (title, branch, academic_year, fee_type_id);

ALTER TABLE feetypes ADD CONSTRAINT uq_feetype_branch_year_school UNIQUE (feetype, branch, academic_year, school_id);

UPDATE alembic_version SET version_num='af6528073d91' WHERE alembic_version.version_num = '832efc0a17e4';

-- Running upgrade af6528073d91 -> 6a53ec797765

ALTER TABLE subjectmaster MODIFY subject_type ENUM('Deeniyath','Academic') NULL;

ALTER TABLE students ADD COLUMN enrollment_no VARCHAR(50);

ALTER TABLE fee_payments ADD COLUMN cheque_no VARCHAR(50);

ALTER TABLE fee_payments ADD COLUMN bank_name VARCHAR(100);

ALTER TABLE fee_payments ADD COLUMN cheque_date DATE;

UPDATE alembic_version SET version_num='6a53ec797765' WHERE alembic_version.version_num = 'af6528073d91';

-- Running upgrade 6a53ec797765 -> fd466747caa0

CREATE TABLE petty_cash_ledger (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    ledger_name VARCHAR(255) NOT NULL, 
    ledger_type ENUM('Direct','Indirect') NOT NULL, 
    is_active BOOL NOT NULL DEFAULT 1, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE petty_cash (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER NOT NULL, 
    transaction_date DATE NOT NULL, 
    voucher_name VARCHAR(255) NOT NULL, 
    voucher_type ENUM('Payment','Received') NOT NULL, 
    ledger_id BIGINT NOT NULL, 
    paid_to VARCHAR(255), 
    amount NUMERIC(12, 2) NOT NULL, 
    payment_mode ENUM('Cash','UPI') NOT NULL, 
    academic_year VARCHAR(20) NOT NULL, 
    description TEXT, 
    approved_by VARCHAR(100), 
    is_active BOOL NOT NULL DEFAULT 1, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(ledger_id) REFERENCES petty_cash_ledger (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE INDEX idx_petty_cash_branch_year ON petty_cash (branch_id, academic_year);

CREATE INDEX idx_petty_cash_date ON petty_cash (transaction_date);

CREATE TABLE petty_cash_voucher_items (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    petty_cash_id BIGINT NOT NULL, 
    item_name VARCHAR(255) NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(petty_cash_id) REFERENCES petty_cash (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

UPDATE alembic_version SET version_num='fd466747caa0' WHERE alembic_version.version_num = '6a53ec797765';

-- Running upgrade fd466747caa0 -> cb32975f3e5b

CREATE TABLE sms_logs (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    sms_type VARCHAR(50) NOT NULL, 
    phone VARCHAR(20) NOT NULL, 
    message TEXT NOT NULL, 
    status VARCHAR(10) NOT NULL, 
    reason VARCHAR(255), 
    student_id INTEGER, 
    sent_at DATETIME NOT NULL, 
    sent_by INTEGER, 
    school_id INTEGER, 
    branch_id INTEGER, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL, 
    FOREIGN KEY(sent_by) REFERENCES users (user_id), 
    FOREIGN KEY(student_id) REFERENCES students (student_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE INDEX idx_sms_log_school_branch ON sms_logs (school_id, branch_id);

CREATE INDEX idx_sms_log_sent_at ON sms_logs (sent_at);

CREATE INDEX idx_sms_log_type ON sms_logs (sms_type);

UPDATE alembic_version SET version_num='cb32975f3e5b' WHERE alembic_version.version_num = 'fd466747caa0';

-- Running upgrade cb32975f3e5b -> 86b23d3438a5

CREATE TABLE petty_cash_fund_allocation (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER NOT NULL, 
    allocation_date DATE NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    remark VARCHAR(100), 
    approval_status ENUM('Pending','Approved','Rejected') DEFAULT 'Pending', 
    approved_by INTEGER, 
    approved_at DATETIME, 
    academic_year VARCHAR(20) NOT NULL, 
    is_active BOOL NOT NULL DEFAULT 1, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(approved_by) REFERENCES users (user_id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

UPDATE alembic_version SET version_num='86b23d3438a5' WHERE alembic_version.version_num = 'cb32975f3e5b';

-- Running upgrade 86b23d3438a5 -> 1a91df357c35

ALTER TABLE petty_cash ADD COLUMN approval_status ENUM('Pending','Approved','Rejected') DEFAULT 'Pending';

UPDATE alembic_version SET version_num='1a91df357c35' WHERE alembic_version.version_num = '86b23d3438a5';

-- Running upgrade 1a91df357c35 -> af300d750a55

CREATE TABLE department_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    department_code VARCHAR(50) NOT NULL, 
    department_name VARCHAR(100) NOT NULL, 
    description TEXT, 
    display_order INTEGER, 
    status ENUM('ACTIVE','INACTIVE'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (department_code)
);

CREATE TABLE designation_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    department_id INTEGER NOT NULL, 
    designation_code VARCHAR(50) NOT NULL, 
    designation_name VARCHAR(100) NOT NULL, 
    description TEXT, 
    display_order INTEGER, 
    status ENUM('ACTIVE','INACTIVE'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(department_id) REFERENCES department_master (id) ON DELETE CASCADE, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (designation_code)
);

CREATE TABLE shift_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    shift_code VARCHAR(50) NOT NULL, 
    shift_name VARCHAR(100) NOT NULL, 
    start_time TIME NOT NULL, 
    end_time TIME NOT NULL, 
    grace_in_minutes INTEGER, 
    grace_out_minutes INTEGER, 
    minimum_working_minutes INTEGER, 
    break_minutes INTEGER, 
    is_night_shift BOOL, 
    allow_overtime BOOL, 
    late_after_grace BOOL, 
    status ENUM('ACTIVE','INACTIVE'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (shift_code)
);

CREATE TABLE staff_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER, 
    department_id INTEGER, 
    designation_id INTEGER, 
    default_shift_id INTEGER, 
    reporting_manager_id INTEGER, 
    employee_code VARCHAR(50) NOT NULL, 
    first_name VARCHAR(100) NOT NULL, 
    middle_name VARCHAR(100), 
    last_name VARCHAR(100), 
    display_name VARCHAR(200), 
    gender ENUM('MALE','FEMALE','OTHER') NOT NULL, 
    date_of_birth DATE, 
    joining_date DATE NOT NULL, 
    confirmation_date DATE, 
    relieving_date DATE, 
    employment_type ENUM('PERMANENT','CONTRACT','TEMPORARY','INTERN','PART_TIME') NOT NULL, 
    employment_status ENUM('ACTIVE','PROBATION','NOTICE_PERIOD','RESIGNED','TERMINATED','RETIRED'), 
    email VARCHAR(100), 
    mobile VARCHAR(20), 
    photo VARCHAR(255), 
    address TEXT, 
    city VARCHAR(100), 
    state VARCHAR(100), 
    country VARCHAR(100), 
    pincode VARCHAR(20), 
    attendance_source ENUM('BIOMETRIC','MOBILE','WEB','MANUAL'), 
    weekly_off VARCHAR(50), 
    joining_branch VARCHAR(100), 
    attendance_required BOOL, 
    payroll_enabled BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(default_shift_id) REFERENCES shift_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(department_id) REFERENCES department_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(designation_id) REFERENCES designation_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(reporting_manager_id) REFERENCES staff_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (employee_code)
);

CREATE TABLE attendance_head (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    staff_id INTEGER NOT NULL, 
    shift_id INTEGER, 
    attendance_date DATE NOT NULL, 
    first_in DATETIME, 
    last_out DATETIME, 
    working_minutes INTEGER, 
    late_minutes INTEGER, 
    early_exit_minutes INTEGER, 
    overtime_minutes INTEGER, 
    attendance_status ENUM('PRESENT','ABSENT','HALF_DAY','LEAVE','HOLIDAY','WEEK_OFF'), 
    generated_from ENUM('BIOMETRIC','MANUAL','MOBILE'), 
    remarks TEXT, 
    payroll_locked BOOL, 
    attendance_locked BOOL, 
    payroll_processed BOOL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(shift_id) REFERENCES shift_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(staff_id) REFERENCES staff_master (id) ON DELETE CASCADE, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE biometric_device_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER, 
    device_code VARCHAR(50) NOT NULL, 
    device_name VARCHAR(100) NOT NULL, 
    device_model VARCHAR(100), 
    manufacturer VARCHAR(100), 
    serial_number VARCHAR(100), 
    ip_address VARCHAR(50), 
    port INTEGER, 
    communication_type ENUM('API','TCP_IP','CLOUD'), 
    timezone VARCHAR(50), 
    last_sync_at DATETIME, 
    status ENUM('ACTIVE','INACTIVE','MAINTENANCE'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (device_code)
);

CREATE TABLE attendance_detail (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    attendance_id BIGINT NOT NULL, 
    device_id INTEGER, 
    punch_datetime DATETIME NOT NULL, 
    direction ENUM('IN','OUT') NOT NULL, 
    verification_mode ENUM('FINGER','FACE','CARD','PIN'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(attendance_id) REFERENCES attendance_head (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(device_id) REFERENCES biometric_device_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

CREATE TABLE biometric_punch_log (
    id BIGINT NOT NULL AUTO_INCREMENT, 
    device_id INTEGER, 
    staff_id INTEGER, 
    biometric_id VARCHAR(50), 
    punch_datetime DATETIME NOT NULL, 
    direction ENUM('IN','OUT','UNKNOWN'), 
    verification_mode ENUM('FINGER','FACE','CARD','PIN','PALM'), 
    raw_data JSON, 
    processed BOOL, 
    created_at DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(device_id) REFERENCES biometric_device_master (id) ON DELETE SET NULL, 
    FOREIGN KEY(staff_id) REFERENCES staff_master (id) ON DELETE SET NULL
);

CREATE TABLE staff_biometric_mapping (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    staff_id INTEGER NOT NULL, 
    device_id INTEGER NOT NULL, 
    biometric_id VARCHAR(50), 
    card_number VARCHAR(50), 
    face_registered BOOL, 
    finger_registered BOOL, 
    pin_registered BOOL, 
    is_primary BOOL, 
    status ENUM('ACTIVE','INACTIVE'), 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(device_id) REFERENCES biometric_device_master (id) ON DELETE CASCADE, 
    FOREIGN KEY(staff_id) REFERENCES staff_master (id) ON DELETE CASCADE, 
    FOREIGN KEY(updated_by) REFERENCES users (user_id)
);

ALTER TABLE users ADD COLUMN staff_id INTEGER;

ALTER TABLE users ADD FOREIGN KEY(staff_id) REFERENCES staff_master (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='af300d750a55' WHERE alembic_version.version_num = '1a91df357c35';

-- Running upgrade af300d750a55 -> cdda20559d39

CREATE TABLE staff_category_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    category_code VARCHAR(20) NOT NULL, 
    category_name VARCHAR(100) NOT NULL, 
    description TEXT, 
    display_order INTEGER, 
    is_active BOOL NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (category_code)
);

CREATE TABLE staff_status_master (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    status_code VARCHAR(30) NOT NULL, 
    status_name VARCHAR(100) NOT NULL, 
    description TEXT, 
    display_order INTEGER, 
    is_active BOOL NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    UNIQUE (status_code)
);

INSERT INTO staff_category_master (category_code, category_name, display_order, is_active, created_at, updated_at) VALUES ('TEACH', 'Teaching', 1, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');

INSERT INTO staff_category_master (category_code, category_name, display_order, is_active, created_at, updated_at) VALUES ('NTEACH', 'Non Teaching', 2, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');

INSERT INTO staff_category_master (category_code, category_name, display_order, is_active, created_at, updated_at) VALUES ('MENIAL', 'Menial', 3, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');



INSERT INTO staff_status_master (status_code, status_name, display_order, is_active, created_at, updated_at) VALUES ('ACTIVE', 'Active', 1, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');

INSERT INTO staff_status_master (status_code, status_name, display_order, is_active, created_at, updated_at) VALUES ('PROBATION', 'Probation', 2, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');

INSERT INTO staff_status_master (status_code, status_name, display_order, is_active, created_at, updated_at) VALUES ('NOTICE_PERIOD', 'Notice Period', 3, true, '2026-09-28 09:02:17.747846', '2026-09-28 09:02:17.747846');





UPDATE alembic_version SET version_num='cdda20559d39' WHERE alembic_version.version_num = 'af300d750a55';

-- Running upgrade cdda20559d39 -> 1d2565c95a37

CREATE TABLE staff_enrollment_sequences (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    branch_id INTEGER, 
    department_id INTEGER NOT NULL, 
    staff_code_prefix VARCHAR(20) NOT NULL, 
    last_staff_no INTEGER NOT NULL, 
    employee_id_prefix VARCHAR(20) NOT NULL, 
    last_employee_no INTEGER NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    CONSTRAINT chk_employee_no_positive CHECK (last_employee_no >= 0), 
    CONSTRAINT chk_staff_no_positive CHECK (last_staff_no >= 0), 
    FOREIGN KEY(branch_id) REFERENCES branches (id), 
    FOREIGN KEY(created_by) REFERENCES users (user_id), 
    FOREIGN KEY(department_id) REFERENCES department_master (id), 
    FOREIGN KEY(updated_by) REFERENCES users (user_id), 
    CONSTRAINT uq_branch_dept_staff_sequence UNIQUE (branch_id, department_id)
);

ALTER TABLE staff_master CHANGE employee_code staff_code VARCHAR(50) NOT NULL;

ALTER TABLE staff_master ADD COLUMN employee_id VARCHAR(50);

DROP INDEX employee_code ON staff_master;

ALTER TABLE staff_master ADD CONSTRAINT uq_staff_master_staff_code UNIQUE (staff_code);

ALTER TABLE staff_master ADD CONSTRAINT uq_staff_master_employee_id UNIQUE (employee_id);

UPDATE alembic_version SET version_num='1d2565c95a37' WHERE alembic_version.version_num = 'cdda20559d39';

-- Running upgrade 1d2565c95a37 -> 195a642ab54b

ALTER TABLE department_master ADD COLUMN school_id INTEGER;

DROP INDEX department_code ON department_master;

ALTER TABLE department_master ADD CONSTRAINT uq_school_dept_code UNIQUE (school_id, department_code);

ALTER TABLE department_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE designation_master ADD COLUMN school_id INTEGER;

DROP INDEX designation_code ON designation_master;

ALTER TABLE designation_master ADD CONSTRAINT uq_school_desig_code UNIQUE (school_id, designation_code);

ALTER TABLE designation_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE shift_master ADD COLUMN school_id INTEGER;

DROP INDEX shift_code ON shift_master;

ALTER TABLE shift_master ADD CONSTRAINT uq_school_shift_code UNIQUE (school_id, shift_code);

ALTER TABLE shift_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE staff_category_master ADD COLUMN school_id INTEGER;

DROP INDEX category_code ON staff_category_master;

ALTER TABLE staff_category_master ADD CONSTRAINT uq_school_category_code UNIQUE (school_id, category_code);

ALTER TABLE staff_category_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

ALTER TABLE staff_status_master ADD COLUMN school_id INTEGER;

DROP INDEX status_code ON staff_status_master;

ALTER TABLE staff_status_master ADD CONSTRAINT uq_school_status_code UNIQUE (school_id, status_code);

ALTER TABLE staff_status_master ADD FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='195a642ab54b' WHERE alembic_version.version_num = '1d2565c95a37';

-- Running upgrade 195a642ab54b -> f3a8b1c2d4e5

ALTER TABLE staff_master ADD COLUMN school_id INTEGER;

ALTER TABLE staff_master ADD CONSTRAINT fk_staff_master_school_id FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE SET NULL;

CREATE INDEX ix_staff_master_school_id ON staff_master (school_id);

UPDATE staff_master sm
        JOIN branches b ON sm.branch_id = b.id
        SET sm.school_id = b.school_id
        WHERE sm.branch_id IS NOT NULL
          AND sm.school_id IS NULL;

CREATE TABLE staff_code_sequences (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    school_id INTEGER NOT NULL, 
    branch_id INTEGER NOT NULL, 
    department_id INTEGER NOT NULL, 
    last_sequence INTEGER NOT NULL DEFAULT '0', 
    created_at DATETIME NOT NULL DEFAULT NOW(), 
    updated_at DATETIME NOT NULL DEFAULT NOW(), 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE CASCADE, 
    FOREIGN KEY(branch_id) REFERENCES branches (id) ON DELETE CASCADE, 
    FOREIGN KEY(department_id) REFERENCES department_master (id) ON DELETE CASCADE, 
    CONSTRAINT uq_staff_code_seq UNIQUE (school_id, branch_id, department_id), 
    CONSTRAINT chk_staff_code_seq_positive CHECK (last_sequence >= 0)
);

CREATE TABLE employee_id_sequences (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    school_id INTEGER NOT NULL, 
    department_id INTEGER NOT NULL, 
    last_sequence INTEGER NOT NULL DEFAULT '0', 
    created_at DATETIME NOT NULL DEFAULT NOW(), 
    updated_at DATETIME NOT NULL DEFAULT NOW(), 
    created_by INTEGER, 
    updated_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(school_id) REFERENCES schools (id) ON DELETE CASCADE, 
    FOREIGN KEY(department_id) REFERENCES department_master (id) ON DELETE CASCADE, 
    CONSTRAINT uq_employee_id_seq UNIQUE (school_id, department_id), 
    CONSTRAINT chk_employee_id_seq_positive CHECK (last_sequence >= 0)
);

UPDATE alembic_version SET version_num='f3a8b1c2d4e5' WHERE alembic_version.version_num = '195a642ab54b';

-- Running upgrade f3a8b1c2d4e5 -> a1b2c3d4e5f6

DROP TABLE staff_enrollment_sequences;

UPDATE alembic_version SET version_num='a1b2c3d4e5f6' WHERE alembic_version.version_num = 'f3a8b1c2d4e5';

-- Running upgrade a1b2c3d4e5f6 -> 1e212f5b201b

ALTER TABLE staff_status_master ADD COLUMN status_type ENUM('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE';

UPDATE alembic_version SET version_num='1e212f5b201b' WHERE alembic_version.version_num = 'a1b2c3d4e5f6';

-- Running upgrade 1e212f5b201b -> 583e65499039

